<a href="https://colab.research.google.com/github/GokhanAsilturk/Colab-Python-Projects/blob/colabworks/%D0%9F%D1%80%D0%B0%D0%BA_%D1%80%D0%BE%D0%B1_5_2_Asilturk_AC205.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Практична робота 5.2**
Групування

---

Підготовлено: Гьокхан Асільтюрк

Група: АС-205

Номер: 3

1. Виберіть підмножини даних (кінцевий набір даних (дані штатів США) з
попередньої практичної роботи) на основі стовпця «штат\регіон».
Виведіть кількість спостережень у кожній групі.

In [ ]:
from numpy.ma.core import default_fill_value
from google.colab import drive
import pandas as pd
import numpy as np

url_merged_pop_area = '/content/drive/MyDrive/Colab Notebooks/csv_files/merged_pop_area.csv'

merged_pop_area = pd.read_csv(url_merged_pop_area, sep=',')

merged_pop_area = merged_pop_area.drop(merged_pop_area.loc[merged_pop_area['state/region'] == 'PR'].index,axis=0)

print(merged_pop_area.head(),'\n')

all_states = list(merged_pop_area['state'].unique())
all_states_count = {}
for state in all_states:
  all_states_count[state] = list(merged_pop_area['state']).count(state)


print(all_states_count)

  state/region     ages  year  population    state  area (sq. mi)
0           AL  under18  2012   1117489.0  Alabama          52423
1           AL    total  2012   4817528.0  Alabama          52423
2           AL  under18  2010   1130966.0  Alabama          52423
3           AL    total  2010   4785570.0  Alabama          52423
4           AL  under18  2011   1125763.0  Alabama          52423

{'Alabama': 48, 'Alaska': 48, 'Arizona': 48, 'Arkansas': 48, 'California': 48, 'Colorado': 48, 'Connecticut': 48, 'Delaware': 48, 'District of Columbia': 48, 'Florida': 48, 'Georgia': 48, 'Hawaii': 48, 'Idaho': 48, 'Illinois': 48, 'Indiana': 48, 'Iowa': 48, 'Kansas': 48, 'Kentucky': 48, 'Louisiana': 48, 'Maine': 48, 'Maryland': 48, 'Massachusetts': 48, 'Michigan': 48, 'Minnesota': 48, 'Mississippi': 48, 'Missouri': 48, 'Montana': 48, 'Nebraska': 48, 'Nevada': 48, 'New Hampshire': 48, 'New Jersey': 48, 'New Mexico': 48, 'New York': 48, 'North Carolina': 48, 'North Dakota': 48, 'Ohio': 48, 'Oklahoma': 48, 'Oregon': 48, 'Pennsylvania': 48, 'Rhode Island': 48, 'South Carolina': 48, 'South Dakota': 48, 'Tennessee': 48, 'Texas': 48, 'Utah': 48, 'Vermont': 48, 'Virginia': 48, 'Washington': 48, 'West Virginia': 48, 'Wisconsin': 48, 'Wyoming': 48}

2. Обчисліть середнє значення населення для кожного штату.

In [ ]:
population_total = merged_pop_area.loc[merged_pop_area['ages'] == 'total']
print(population_total.groupby('state')['population'].median())

state
Alabama                  4473861.5
Alaska                    638025.5
Arizona                  5334866.0
Arkansas                 2698749.0
California              34675650.5
Colorado                 4458046.5
Connecticut              3445792.0
Delaware                  800934.0
District of Columbia      577370.0
Florida                 16523168.0
Georgia                  8442647.0
Hawaii                   1232780.5
Idaho                    1330167.0
Illinois                12507000.5
Indiana                  6141863.5
Iowa                     2933115.5
Kansas                   2707848.5
Kentucky                 4079003.5
Louisiana                4450577.5
Maine                    1290826.0
Maryland                 5407540.0
Massachusetts            6400462.0
Michigan                 9889070.5
Minnesota                5000865.5
Mississippi              2855837.5
Missouri                 5657983.5
Montana                   909314.0
Nebraska                 1724064.0
Nevada                   2136095.0
New Hampshire            1262303.0
New Jersey               8522657.0
New Mexico               1843499.5
New York                19093734.5
North Carolina           8268161.5
North Dakota              646810.5
Ohio                    11397646.5
Oklahoma                 3478090.0
Oregon                   3490680.5
Pennsylvania            12315000.5
Rhode Island             1050327.0
South Carolina           4086395.0
South Dakota              758996.0
Tennessee                5773353.5
Texas                   21504973.5
Utah                     2304265.0
Vermont                   613832.5
Virginia                 7242617.5
Washington               6019035.5
West Virginia            1819767.0
Wisconsin                5425998.5
Wyoming                   497337.0
Name: population, dtype: float64

3. Виведіть мінімальне значення населення для кожного штату та року.

In [ ]:
print(merged_pop_area.groupby(['state', 'year'])['population'].min())

state    year
Alabama  1990    1050041.0
         1991    1060794.0
         1992    1072873.0
         1993    1085606.0
         1994    1097180.0
                   ...
Wyoming  2009     134960.0
         2010     135351.0
         2011     135407.0
         2012     136526.0
         2013     137679.0
Name: population, Length: 1224, dtype: float64

4. Виберіть підмножини даних на основі стовпця «рік». Обчисліть суму
населення за кожен рік.

In [ ]:
merged_pop_area.loc[(merged_pop_area['state/region'] != 'USA') & (merged_pop_area['ages'] == 'total')].groupby(['year'])['population'].sum()

year
1990    249622814.0
1991    252980942.0
1992    256514231.0
1993    259918595.0
1994    263125826.0
1995    266278403.0
1996    269394291.0
1997    272646932.0
1998    275854116.0
1999    279040181.0
2000    282162411.0
2001    284968955.0
2002    287625193.0
2003    290107933.0
2004    292805298.0
2005    295516599.0
2006    298379912.0
2007    301231207.0
2008    304093966.0
2009    306771529.0
2010    309326295.0
2011    311582564.0
2012    313873685.0
2013    316128839.0
Name: population, dtype: float64

5. За допомогою методу aggregate() виведіть медіану, стандартне та
максимальне значення для кожного штату.

In [ ]:
print(population_total.groupby('state')['population'].aggregate([np.median, 'std', max]))

                          median           std         max
state
Alabama                4473861.5  2.352074e+05   4833722.0
Alaska                  638025.5  5.119018e+04    735132.0
Arizona                5334866.0  9.559634e+05   6626624.0
Arkansas               2698749.0  1.880131e+05   2959373.0
California            34675650.5  2.589533e+06  38332521.0
Colorado               4458046.5  5.952380e+05   5268367.0
Connecticut            3445792.0  1.088811e+05   3596080.0
Delaware                800934.0  8.037958e+04    925749.0
District of Columbia    577370.0  2.221905e+04    646449.0
Florida               16523168.0  2.076241e+06  19552860.0
Georgia                8442647.0  1.118769e+06   9992167.0
Hawaii                 1232780.5  8.309963e+04   1404054.0
Idaho                  1330167.0  1.890411e+05   1612136.0
Illinois              12507000.5  4.355826e+05  12882135.0
Indiana                6141863.5  3.109248e+05   6570902.0
Iowa                   2933115.5  8.876700e+04   3090416.0
Kansas                 2707848.5  1.224282e+05   2893957.0
Kentucky               4079003.5  2.190797e+05   4395295.0
Louisiana              4450577.5  1.129783e+05   4625470.0
Maine                  1290826.0  3.792462e+04   1330509.0
Maryland               5407540.0  3.454647e+05   5928814.0
Massachusetts          6400462.0  2.030031e+05   6692824.0
Michigan               9889070.5  2.156781e+05  10055315.0
Minnesota              5000865.5  3.174024e+05   5420380.0
Mississippi            2855837.5  1.287634e+05   2991207.0
Missouri               5657983.5  2.915779e+05   6044171.0
Montana                 909314.0  6.186521e+04   1015165.0
Nebraska               1724064.0  8.345756e+04   1868516.0
Nevada                 2136095.0  5.277564e+05   2790136.0
New Hampshire          1262303.0  7.818643e+04   1323459.0
New Jersey             8522657.0  3.582694e+05   8899339.0
New Mexico             1843499.5  1.722857e+05   2085287.0
New York              19093734.5  4.603012e+05  19651127.0
North Carolina         8268161.5  1.014627e+06   9848060.0
North Dakota            646810.5  2.174745e+04    723393.0
Ohio                  11397646.5  2.026590e+05  11570808.0
Oklahoma               3478090.0  2.070031e+05   3850568.0
Oregon                 3490680.5  3.228461e+05   3930065.0
Pennsylvania          12315000.5  2.530423e+05  12773801.0
Rhode Island           1050327.0  2.167470e+04   1074579.0
South Carolina         4086395.0  3.981819e+05   4774839.0
South Dakota            758996.0  4.056360e+04    844877.0
Tennessee              5773353.5  4.963864e+05   6495978.0
Texas                 21504973.5  2.905760e+06  26448193.0
Utah                   2304265.0  3.564490e+05   2900872.0
Vermont                 613832.5  2.048252e+04    626630.0
Virginia               7242617.5  6.340412e+05   8260405.0
Washington             6019035.5  6.117864e+05   6971406.0
West Virginia          1819767.0  1.909850e+04   1856680.0
Wisconsin              5425998.5  2.558431e+05   5742713.0
Wyoming                 497337.0  3.803359e+04    582658.0

6. За допомогою методу filter() виведіть 10 перших груп, у яких
стандартне відхилення сукупності більше за X.

In [ ]:
def filt_std(x):
    return x['population'].std() > 1270504

print(population_total.groupby('state/region').filter(filt_std).head(10))

    state/region   ages  year  population       state  area (sq. mi)
193           CA  total  2012  37999878.0  California         163707
195           CA  total  2011  37668681.0  California         163707
197           CA  total  2010  37333601.0  California         163707
199           CA  total  2013  38332521.0  California         163707
200           CA  total  2009  36961229.0  California         163707
202           CA  total  2007  36250311.0  California         163707
204           CA  total  2008  36604337.0  California         163707
206           CA  total  2005  35827943.0  California         163707
208           CA  total  2006  36021202.0  California         163707
210           CA  total  2003  35253159.0  California         163707

7. Використовуючи метод filter() і лямбда-функції, виведіть назву штатів
які брали участь у наборі даних 5 або більше разів.

In [ ]:
population_total.groupby('state/region').filter(lambda x: x['state'].value_counts() > 5).groupby('state').groups.keys()

dict_keys(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'District of Columbia', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'])